/* m = margin (mt = margin-top etc.)
p = padding
fs = font-size
lh = line-height
s = size (used for width/height when they equal)
h = height
w = width
g = gap 
*/

.app {
  width: 100vw;
  /* header-vars */
  --header-height: 80px;
  --mb-header: -80px;
  --header-padding: 0 104px;
  --fs-header-text: 18px;
  --fs-logo: 20px;

  /* search-form vars */
  --search-form-padding: 160px 416px;
  --fs-search-form-title: 60px;
  --lh-search-form-title: 64px;
  --mt-search-form-subtitle: 32px;
  --fs-search-form-subtitle: 18px;
  --lh-search-form-subtitle: 24px;
  --mt-search-form-input: 88px;
  --w-search-form-input: 100%;
  --h-search-form-input: 64px;
  --w-search-form-submit-button: 168px;
  /* --h-search-form-submit-button: 64px; */

  /* about-vars */
  --p-about: 80px 216px 80px 104px;
  --length-about-image: 464px;
  --background-position-about-image: -85px;
  --g-about: 56px;
  --pt-about-content: 51px;
  --fs-about-title: 40px;
  --m-about-title: 0 0 24px 0;

  /* footer-vars */
  --p-footer: 30px 80px 30px 104px;
  --m-footer-copyrights: 0 516px 0 0;
  --w-footer-copyrights: 433px;
  --m-footer-link: 0 40px 0 0;
  --m-footer-icon: 0 26px 0 1.9px;

  /* searchResults-vars */
  --p-preloader: 80px 0;
  --s-preloader-animation: 74px;
  --p-not-found: 86px 0 80px;
  --g-not-found: 16px;
  --s-not-found-image: 82.5px;
  --mb-not-found-image: 15.5px;
  --fs-not-found-title: 26px;
  --fs-not-found-paragraph: 18px;
  --p-news-cards-list: 80px 104px;
  --grid-template-columns-cards-list: repeat(auto-fit, 400px);
  --h-news-card-image: 272px;
  --m-news-card-save-button: 24px 24px 0 0;
  --m-news-card-keyword: 24px 0 0 24px;
  --p-news-card-text: 20px 24px 24px;
  --mt-news-card-title: 12px;
  --mt-news-card-description: 16px;
  --mt-news-card-source: 18px;

  /* saved-news-titles vars */
  --fs-saved-news-titles-title: 18px;
  --fs-saved-news-titles-intro: 40px;
  --lh-saved-news-titles-intro: 46px;
  --fs-saved-news-titles-keywords: 18px;
}

@media (max-width: 768px) {
  .app {
    /* header vars */
    --header-padding: 0 40px;
    --header-height: 66px;
    --fs-header-text: 16px;
    /* search-form vars */
    --search-form-padding: 38px 156px 48px 160px;
    --mt-search-form-subtitle: 16px;
    --mt-search-form-input: 48px;
  }
}

@media (max-width: 320px) {
  .app {
    /* header-vars */
    --header-height: 56px;
    --header-padding: 0 20px 0 16px;
    --fs-header-text: 18px;
    --fs-logo: 16px;
    /* search-form vars */
    --search-form-padding: 30px 16px 32px;
    --mt-search-form-input: 122px;
  }
}
