.news-cards-list {
  padding: var(--p-news-cards-list);
  background: #f5f6f7;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.news-cards-list__title {
  margin: 0;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #1a1b22;
  align-self: flex-start;
}

.news-cards-list__content {
  width: 100%;
  display: grid;
  gap: 16px 16px;
  grid-template-columns: var(--grid-template-columns-cards-list);
  grid-auto-flow: row;
}

.news-cards-list__show-more {
  cursor: pointer;
  width: 288px;
  height: 64px;
  background-color: #ffffff;
  border: none;
  border-radius: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  transition: background-color 0.2s linear;
}

.news-cards-list__show-more:hover {
  background-color: rgba(232, 232, 232, 0.9);
}
