.header {
  width: 100%;
  height: var(--header-height);
  margin: 0;
  margin-bottom: var(--mb-header);
  padding: var(--header-padding);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header_in-saved-news {
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.header__logo {
  color: white;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-logo);
  text-decoration: none;
}

.header__logo_in-saved-news{
  color: black;
}



