.header {
  width: 100%;
  height: 80px;
  margin: 0;
  margin-bottom: -80px;
  padding: 0 clamp(40px, 7.22%, 104px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: rgba(196, 196, 196, 0.01);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.header__logo {
  color: white;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.header__nav-button {
  display: none;
  background-image: url('../../images/nav-button.svg');
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__nav-button_esc-mode {
  background-image: url('../../images/esc-icon.svg');
  background-size: cover;
}

@media (max-width: 768px) {
  .header {
    height: 66px;
    margin-bottom: -66px;
    padding: 0 clamp(16px, 5.208%, 40px);
  }
}

@media (max-width: 600px) {
  .header__nav-button {
    display: block;
  }
}

@media (max-width: 426px) {
  .header {
    height: 56px;
    margin-bottom: -56px;
    padding: 0 20ox 0 16px;
  }

  .header__logo {
    font-size: 16px;
  }
}
