.navigation {
  display: flex;
  justify-content: space-between;
  gap: clamp(16px, 8.642%, 34px);
  height: 100%;
  align-items: center;
  padding: 0;
}

.navigation_type_in-saved-news{
  background: white;
}

.navigation__path {
  display: flex;
  height: 100%;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  box-sizing: border-box;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.navigation__path_type_in-saved-news{
  color: #1A1B22;
}

.navigation__path_type_home {
  width: 70px;
}

.navigation__path_type_saved-articles {
  width: 178px;
}

.navigation__path_decorated_main {
  box-shadow: 0 -3px 0 0 inset white;
}

.navigation__path_decorated_saved-news {
  box-shadow: 0 -3px 0 0 inset #1A1B22;
}



.navigation__button {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  height: 48px;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.navigation__user-image{
  object-fit: contain;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navigation__button:hover {
  cursor: pointer;
}

.navigation__button_state_logged-in {
  padding: 0 19px;
}

.navigation__button_type_in-saved-news{
  border: 1px solid #D1D2D6;
  color: #1A1B22;
  transition: border 0.15s linear;
}

.navigation__button_type_in-saved-news:hover{
  border: 1px solid #1A1B22;
}

.navigation__exit-icon{
  background: url('../../images/union-main.svg');
  width: 17.4px;
  height: 16px;
}

.navigation__exit-icon_type_in-saved-news{
  background: url('../../images/union-saved-news.svg');
}

@media (max-width: 768px) {
  .navigation{
    gap: 8.225%;
  }

  .navigation__path{
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .navigation{
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #1A1B22;
    gap: 40px;
    width: 100%;
    height: min-content;
    box-shadow: 0px 10000px 0 10000px rgba(0, 0, 0, 0.5);
    padding: 35px 16px 16px 31.24px;
    flex-grow: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s linear, visibility 0.15s linear;
  }

  .navigation_type_in-saved-news{
    background: white;
  }

  .navigation_active {
    visibility: visible;
    opacity: 1;
  }

  .navigation__path{
    justify-content: flex-start;
  }

  .navigation__path_type_home {
    width: auto;
  }
  
  .navigation__path_type_saved-articles {
    width: auto;
  }
  
  .navigation__path_decorated_main {
    box-shadow: none;
  }
  
  .navigation__path_decorated_saved-news {
    box-shadow: none;
  }

  .navigation__button{
    width: 288px;
  }
}

@media (max-width: 426px) {
  .navigation{
    top: 56px;
    padding: 35px 16px 16px;
  }
}
