.preloader {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: rgb(245, 246, 247);
}

.preloader__animation{
width: 74px;
height: 74px;
border: 1px solid rgb(26, 27, 34);
border-bottom-color: rgba(209, 210, 214);
border-radius: 50%;
animation: spin .75s infinite linear;
z-index: 2;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}


